html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/


/* GLOBAL SYTLES */

@font-face {
  font-family: 'OptimaBold';
  src: url('/Jichnology/fonts/optima-lt-std-bold-58c09049baa14.otf'); /* IE9 Compat Modes */
}

html, body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  height: 100%;
    
}

a, a:hover, a:active {
	text-decoration: none;
}

a:hover, a:active {
	color: #000;
}

.content {  
  padding: 1rem;
  box-sizing: border-box;
  width: 100vw;
}

.content h3 {
  line-height: 3rem;
  font-size: 2.5rem;
}

.hero {
  background: #999;
  color: #fff;
  font-family: 'OptimaBold';
  height: 25vh;
  padding-top: 10vh;
  text-align: center;
  width: 100vw;

}

.hero h1 {
  
  font-size: 3rem;
  font-weight: bold;

}

.hero h3 {
  padding-top: 3vh;
  padding-bottom: 1vh;
  font-size: 2rem;

}

.hero img{
  display: inline-block;
/*  float: left;*/
  margin-left: 0;
  
}

.main-nav {

  
  height: 10vh;
  position: fixed;
  text-align: center;
  width: 100%;
  
  
}

.main-nav ul {
  background: #444;
  list-style: none;
  
}

.main-nav li {
  display: inline-block;
  padding: 2vh 5px;
}

.main-nav li ~ li {
  
  border-left: 2px solid rgba(255, 255, 255, 0.2)
  
}

.main-nav a {
  color: #999;
  font-size: 1rem;
  
}

.main-nav a:hover {
  color: #fff;
  
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
}


.main-content {
  flex: 1 1 0;
  max-width: 1200px; 
}



.footer {	
  background-color: #999;
	color: #000;
  height: 10vh;
	padding: 0;
	width: 100%;
}

.footer p {
  text-align: center;
  vertical-align: middle;
  line-height: 10vh;
}

.flex-list {
  
  display: flex;
  flex-wrap: wrap;
  
}

.flex-list h3 {
  
  font-size: 1.75rem;
  
  
}

.inverts, .plants, .vertebrates {
  
  flex: 1;
  
}


a.black {
	text-decoration: none;
	color: black;
}