<div class="sidenav text-left">

<div class="card" >

<div class="panel-default">
            
                <h3 class="card-header">
					<a href="{{site.baseurl}}/about/" rel="self" title="About Us" class="black"><strong>About Us</strong></a>
				</h3>
			
	</div>

<div id="accordion">
        
            <div class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#faculty"><a class="black" href="#faculty" onclick="return false;">
                <h4 class="card-header">
					<strong>Faculty</strong>
				</h4>
				</a>
			</div>
<div id="faculty" class="panel-collapse collapse">
<div class="card-block">

<a href="{{site.baseurl}}/about/Hasiotis/" rel="self">Dr. Hasiotis</a><br />
<a href="{{site.baseurl}}/about/Hasiotis/Publications/" rel="self">Publications</a><br />

</div>
</div>




        
            <div class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#students"><a class="black" href="#students" onclick="return false;">
                <h4 class="card-header">
					<strong>Students</strong>
				</h4>
				</a>
			</div>
<div id="students" class="panel-collapse collapse">
<div class="card-block">

<a href="{{site.baseurl}}/about/Goers/" rel="self">Alexa Goers</a><br />
<a href="{{site.baseurl}}/about/Hogue/" rel="self">Joshua Hogue</a><br />
<a href="{{site.baseurl}}/about/Jackson/" rel="self">Adam Jackson</a><br />
<a href="{{site.baseurl}}/about/Moore/" rel="self">Robin Moore</a><br />
<a href="{{site.baseurl}}/about/Rader/" rel="self">Robert Rader</a><br />
<a href="{{site.baseurl}}/about/Raisanen/" rel="self">Derek Raisanen</a><br />
<a href="{{site.baseurl}}/about/Rosales/" rel="self">Alicia Rosales</a><br />
<a href="{{site.baseurl}}/about/Wildermuth/" rel="self">Sarah Wildermuth</a><br />

</div>
</div>



        
            <div class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#alumns"><a class="black" href="#alumns" onclick="return false;">
                <h4 class="card-header">
					<strong>Alumni</strong>
				
				</h4><span class="caret"></span>
				</a>
			</div>
<div id="alumns" class="panel-collapse collapse">
<div class="card-block">

<a href="{{site.baseurl}}/about/Burnham/" rel="self">David Burnham</a><br />
<a href="{{site.baseurl}}/about/Connolly/" rel="self">Andrew Connolly</a><br />
<a href="{{site.baseurl}}/about/Counts/" rel="self">John Counts</a><br />
<a href="{{site.baseurl}}/about/Drager/" rel="self">Kim Drager</a><br />
<a href="{{site.baseurl}}/about/Fairchild/" rel="self">Justin Fairchild</a><br />
<a href="{{site.baseurl}}/about/Falk/" rel="self">Amanda Falk</a><br />
<a href="{{site.baseurl}}/about/Fischer/" rel="self">Sean Fischer</a><br />
<a href="{{site.baseurl}}/about/Hammersburg/" rel="self">Sean Hammersburg</a><br />
<a href="{{site.baseurl}}/about/Hembree/" rel="self">Daniel Hembree</a><br />
<a href="{{site.baseurl}}/about/Jennings/" rel="self">Debra Jennings</a><br />
<a href="{{site.baseurl}}/about/Jones/" rel="self">Matt Jones</a><br />
<a href="{{site.baseurl}}/about/LoBue/" rel="self">David LoBue</a><br />
<a href="{{site.baseurl}}/about/Montague/" rel="self">Kim Montague</a><br />
<a href="{{site.baseurl}}/about/Platt/" rel="self">Brian Platt</a><br />
<a href="{{site.baseurl}}/about/Retrum/" rel="self">Julie Retrum</a><br />
<a href="{{site.baseurl}}/about/Riese/" rel="self">David Riese</a><br />
<a href="{{site.baseurl}}/about/Schmerge/" rel="self">Joshua Schmerge</a><br />
<a href="{{site.baseurl}}/about/Smith/" rel="self">Jon Smith</a><br />

</div>
</div>

</div>
</div>