
<a href="{{site.baseurl}}/concepts/" rel="self" title="Introduction" class="black"><strong>Introduction</strong></a>

<a href="{{site.baseurl}}/concepts/principles/" rel="self" title="Principles of Ichnology" class="black"><h4 class="card-header"><strong>Principles</strong></h4></a>

<a href="{{site.baseurl}}/concepts/models/" rel="self" title="Models" class="black"><h4 class="card-header"><strong>Models</strong></h4></a>

<h4 class="card-header"><a href="{{site.baseurl}}/concepts/glossary/" rel="self" title="Glossary" class="black"><strong>Glossary</strong></a></h4>