<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=YAK2Aayvv0">
<link rel="icon" type="image/png" href="/favicon-32x32.png?v=YAK2Aayvv0" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-16x16.png?v=YAK2Aayvv0" sizes="16x16">
<link rel="manifest" href="/manifest.json?v=YAK2Aayvv0">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=YAK2Aayvv0" color="#5bbad5">
<link rel="shortcut icon" href="/favicon.ico?v=YAK2Aayvv0">
<meta name="theme-color" content="#ffffff">
<meta name="robots" content="all" />
<link rel="stylesheet" type="text/css" media="screen" href="{{site.baseurl}}/css/main.css" />
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>
<script type="text/javascript" src="{{site.baseurl}}/scripts/javascript.js"></script>
<link href="{{site.baseurl}}/lightgallery/css/lightgallery.css" rel="stylesheet" />
<script type="text/javascript" src="{{site.baseurl}}/lightgallery/js/lightgallery.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/lightgallery/js/lg-thumbnail.js"></script>

<title>{{ page.title }} - KU Ichnology</title>