    <!-- Start Navigation -->
	<!-- Brand and toggle get grouped for better mobile display -->
      
		<!--Home Page /-->
		<div class="navbar-header">
  
		
		</div>
		
		<div class="collapse navbar-collapse" id="PrimaryNav">
		<ul id="navigation" class="navbar-nav">
      
        <li><a  class="navbar-brand" id="homepage" href="{{site.baseurl}}/">KU Ichnology</a></li>
		<!--Trace Fossils /-->
		
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/tracefossils/" rel="self" id="tracepage">Trace Fossils</a>
        </li>
		
		<!--Principles of Ichnology /-->
		
        <li class="nav-item">
		<a class="nav-link" href="{{site.baseurl}}/concepts/" rel="self" id="conceptpage">Concepts</a>      
        </li>
		
		<!--Current Research /-->
		
		<li class="nav-item">
		<a class="nav-link" href="/current_research/currentresearch.html" rel="self" id="researchpage">Current&nbsp;Research</a>
		</li>
		
		<!--Videos /-->
		
        <li class="nav-item">
		<a class="nav-link" href="/videos/videos.html" rel="self" id="videopage">Videos</a>
		</li>
			
		<!--References /-->
		
        <li class="nav-item">
		<a class="nav-link" href="/references/references.html" rel="self" id="citationpage">Citations</a>
		</li>

		<!--Links /-->
		<li class="nav-item">
		<a class="nav-link" href="/links/page3.html" rel="self" title="Links" id="linkspage">Links</a>
		</li>
		<!--About Us /-->
		
		<li class="nav-item">
		<a class="nav-link" href="/aboutus/aboutus.html" rel="self" id="aboutpage">About&nbsp;Us</a>
		</li>
		
		<!--Contact Us /-->
		
		<li class="nav-item">
		<a class="nav-link" href="/contact_us.html" rel="self">Contact&nbsp;Us</a>
		</li>
		</a>
      </ul>
	</div>